/COLLEGE
/desktop.ini
/Grammarly.lnk
/Group 31.pdf
/I2K20103034_AdityaPatil_SOP.pdf
/I2K20103123_IndrajitPatil_SOP.pdf
/imp.py
/important.py
/Indrajit - Chrome.lnk
/main.py
/Postman.lnk
/searchsort.cpp
/searchsort.exe